body {
    background-color: #1f1f1f; 
    color: #ffffff; 
    text-align: center; 
    letter-spacing: 0.6px;
  }

  h1 {
    color: #b42343;
  }
  h2{
    color: #aaa6c4;
  }
  .container {
    margin: 0 auto; 
    max-width: 801px; 
    padding: 20px; 
  }

.js-cat-image {
    width: 800px;
    height: auto;
    box-shadow: 0 0 10px #7f7a9b, 0 0 20px white;
    animation: shadow-glow 2s ease-in-out 0.1s;
  }

  @keyframes shadow-glow {
    0% {
      box-shadow: none;
    }
    50% {
      box-shadow: 0 0 10px #7f7a9b, 0 0 20px white;
    }
    100% {
      box-shadow: 0 0 10px #7f7a9b, 0 0 20px white;
    }
  }
  
  .js-cat-name {
    color: #7f7a9b;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .js-cat-text {
    color: #7f7a9b;
    font-size: 16px;
    max-width: 800px;
     margin-top: 5px;
  }
    

  .js-light-text {
    
  }

  .error{
    color: #aaa6c4;
  }
  